html,
body {
  margin: 0;
  padding: 0;
  color: #333333;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #cecbf3;
}

a {
  text-decoration: none;
  color: #333333;
  padding: 0;
  height: fit-content;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.625em;
  margin: 0 auto;
  width: 800px;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 60px;
}

main {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

/* Main Content */

.blob {
  width: 400px;
}

.hero-section {
  position: relative;
  height: 500px;
}

.hero-section h1,
.hero-section svg {
  position: absolute;

  left: 210px;
  top: 60px;
}

.hero-section h1 {
  margin: 0;
  font-size: 2.25rem;
  position: absolute;
  left: 280px;
  top: 210px;
}

/* Poems */

.poem-section {
  position: relative;
}

.blob-1 {
  width: 600px;
  position: absolute;
  right: 0;
  top: 0;
}

.blob-2 {
  width: 450px;
  position: absolute;
  left: 0;
  top: 350px;
}

.blob-3 {
  width: 600px;
  position: absolute;
  right: 0;
  top: 600px;
}

.poem-1 {
  width: 200px;
  font-size: 1.5rem;
  position: absolute;
  left: 375px;
  top: 200px;
}

.poem-2 {
  width: 200px;
  font-size: 1.25rem;
  position: absolute;
  left: 110px;
  top: 470px;
}

.poem-3 {
  width: 250px;
  font-size: 1.75rem;
  position: absolute;
  left: 340px;
  top: 810px;
}

/* Code for Skip Navigation Link goes here */

.skip-nav-link {
  border: #333333 2px solid;
  padding: 0.5em 1.25em 0.5em;
  border-radius: 5px;
  position: absolute;
  left: -240px;
  top: 80px;
  transition: 1s;
}

.skip-nav-link:focus {
  transition: 3s;
  transform: translate(0%, 0);
  left: 20px;
}
